            <div class="accordion">
              <div class="collapse-title collapsed" data-bs-toggle="collapse" href="#detail-expand-Adjustable-Baseplate" role="button" aria-expanded="false" aria-controls="detail-expand-Adjustable-Baseplate">
                <div class="row align-items-center">
                  <div class="col-3 mb-2">
                    <img src="{{ '2122-Product-Detail-Rome-Binding-Tech-Adjustable-Baseplate.png' | asset_img_url: 'master' }}" class="img-fluid">
                  </div>
                  <div class="col-9">
                    <h6>Adjustable Baseplate</h6>
                  </div>
                </div>
              </div>
              <div class="collapse-content collapse" id="detail-expand-Adjustable-Baseplate">
                <div>
                  <p>Created to help fit a wider range of boot models and sizes.</p>
                </div>
              </div>
            </div>
