<div class="row">
  <div class="col-6"><h6>Nose</h6></div>
  <div class="col-6 text-end"><h6>Tail</h6></div>
</div>
<div class="row">
  <div class="col-12 mt-2 mb-2"><img src="{{ '2122-Product-Detail-Rome-Camber-FreeTheRide.png' | asset_img_url: 'master' }}" class="img-fluid"></div>
</div>
<div class="row">
  <div class="col-4 text-center"><h6>Rocker</h6></div>
  <div class="col-8 text-center"><h6>Camber</h6></div>
</div>

<div class="accordion mt-3">
  <div class="collapse-title collapsed" data-bs-toggle="collapse" href="#detail-expand-FreeTheRide" role="button" aria-expanded="false" aria-controls="detail-expand-FreeTheRide">
    <h6>FREE-THE-RIDE</h6>
  </div>
  <div class="collapse-content collapse" id="detail-expand-FreeTheRide">
    <div>
      <p>Designed for all-mountain prowess and float in the deep. Rockered in the nose, flat under the front foot, with a positive cambered tail.</p>
    </div>
  </div>
</div>