                 <div class="board-content d-flex">
                   <div class="board-content-img">
                     <img src="{{ '2122-Product-Detail-Board-Contents-Pop-Core.png' | asset_img_url: 'master' }}" class="img-fluid">
                   </div>
                   <div class="board-content-desc">
                     <div class="accordion">
                       <div class="collapse-title collapsed" data-bs-toggle="collapse" href="#detail-expand-Pop-Core" role="button" aria-expanded="false" aria-controls="detail-expand-Pop-Core">
                         <h6>Pop Core</h6>
                       </div>
                       <div class="collapse-content collapse" id="detail-expand-Pop-Core">
                         <div>
                           <p>Our most versatile and durable core, built with alternating strips of 20mm strips of poplar and 20mm strips of paulownia.</p>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>