            <div class="accordion">
              <div class="collapse-title collapsed" data-bs-toggle="collapse" href="#detail-expand-Bamboo-Omega-Hotrods" role="button" aria-expanded="false" aria-controls="detail-expand-Bamboo-Omega">
                <div class="row">
                  <div class="col-4 mb-2">
                    <img src="{{ '2122-Product-Detail-Rome-HotRod-Bamboo-Omega.png' | asset_img_url: 'master' }}" class="img-fluid">
                  </div>
                  <div class="col-12">
                    <h6>Bamboo Omega<br>HotRods</h6>
                  </div>
                </div>
              </div>
              <div class="collapse-content collapse" id="detail-expand-Bamboo-Omega-Hotrods">
                <div>
                  <p>A single bamboo HotRod in the board’s nose and tail; pressable yet poppy.</p>
                  <br>Made of carbon, Omegas act as housing built around the HotRods and are designed to provide additonal power and responsiveness.</p>
                </div>
              </div>
            </div>
