            <div class="accordion">
              <div class="collapse-title collapsed" data-bs-toggle="collapse" href="#detail-expand-Single-HotRod-Carbon" role="button" aria-expanded="false" aria-controls="detail-expand-Single-HotRod-Carbon">
                <div class="row">
                  <div class="col-4 mb-2">
                    <img src="{{ '2122-Product-Detail-Rome-HotRod-Carbon.png' | asset_img_url: 'master' }}" class="img-fluid">
                  </div>
                  <div class="col-12">
                    <h6>Carbon HotRods</h6>
                  </div>
                </div>
              </div>
              <div class="collapse-content collapse" id="detail-expand-Single-HotRod-Carbon">
                <div
                  <p>A single carbon HotRod in the board’s nose and tail; super responsive and powerfully snappy.</p>
                </div>
              </div>
            </div>
