<a href="/pages/duracush" style="display:block;margin-bottom:20px;">
  <div class="w100 py-3 text-center" style="background-color: #000;">
  	<img style="max-width: 60%; max-height: 80px;" class="img-fluid" src="{{ 'Rome-Duracush-Logo-2021-2022.png' | asset_img_url: '800x' }}" alt="duracush binding technology by rome snowboards" />
  </div>
</a>