                 <div class="board-content d-flex">
                   <div class="board-content-img">
                     <img src="{{ '2122-Product-Detail-Board-Contents-SinterStrong-Base.png' | asset_img_url: 'master' }}" class="img-fluid">
                   </div>
                   <div class="board-content-desc">
                     <div class="accordion">
                       <div class="collapse-title collapsed" data-bs-toggle="collapse" href="#detail-expand-SinterStrong-Base" role="button" aria-expanded="false" aria-controls="detail-expand-SinterStrong-Base">
                         <h6>SinterStrong Base</h6>
                       </div>
                       <div class="collapse-content collapse" id="detail-expand-SinterStrong-Base">
                         <div>
                           <p>The new go-to, this hardworking base is easy to fix with great wax retention. A low maintenance daily driver for riders of all ability levels.</p>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>