            <div class="board-content d-flex pt-5 pb-3">
                <div class="board-content-img" style="height: auto;">
                    <img src="{{ '2223-icon-bombproof-buckles.png' | asset_img_url: '300x' }}" class="img-fluid" style="position: relative;margin-top:0;">
                </div>
                <div class="board-content-desc">
                    <div class="accordion">
                        <div class="collapse-title collapsed" data-bs-toggle="collapse" href="#detail-expand-Bombproof-Buckles" role="button" aria-expanded="false" aria-controls="detail-expand-Bombproof-Buckles">
                            <div class="new-2223">NEW</div>
                            <h6>Bombproof Buckles</h6>
                        </div>
                        <div class="collapse-content collapse" id="detail-expand-Bombproof-Buckles">
                            <div>
                                <p>New for this season, our BombProof Buckles are a one-piece forged aluminum construction for better grip and durability. Built with wider stance teeth area for more engagement, this makes for easier ratcheting and increased protection from wear and tear to your ladder straps.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>