                 <div class="board-content d-flex">
                   <div class="board-content-img">
                     <img src="{{ '2122-Product-Detail-Board-Contents-Triax-Glass.png' | asset_img_url: 'master' }}" class="img-fluid">
                   </div>
                   <div class="board-content-desc">
                     <div class="accordion">
                       <div class="collapse-title collapsed" data-bs-toggle="collapse" href="#detail-expand-Triax-Glass" role="button" aria-expanded="false" aria-controls="detail-expand-Triax-Glass">
                         <h6>Triax Glass</h6>
                       </div>
                       <div class="collapse-content collapse" id="detail-expand-Triax-Glass">
                         <div>
                           <p>Fiberglass running in three different axes, built for torsionally rigidity and added snap.</p>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>