            <div class="accordion">
              <div class="collapse-title collapsed" data-bs-toggle="collapse" href="#detail-expand-GripLight-Outsole" role="button" aria-expanded="false" aria-controls="detail-expand-GripLight-Outsole">
                <div class="row align-items-center">
                  <div class="col-2 mb-2">
                    <img src="{{ '2122-Product-Detail-Rome-Boot-GripLight-Outsole.png' | asset_img_url: 'master' }}" class="img-fluid">
                  </div>
                  <div class="col-1"></div>
                  <div class="col-9">
                    <h6>Griplight<br />Outsole</h6>
                  </div>
                </div>
              </div>
              <div class="collapse-content collapse" id="detail-expand-GripLight-Outsole">
                 <div class="row">
                  <div class="col-4">
                    <img class="img-fluid" src="{{ 'logo-vibram.png' | asset_img_url: '300x' }}">
                  </div>
                  <div class="col-8">
                    <p>Medium to responsive flex pattern, strategic lugs and lightweight construction.</p>
                  </div>
                </div>
              </div>
            </div>
