                 <div class="board-content d-flex">
                   <div class="board-content-img">
                     <img src="{{ '2122-Product-Detail-Board-Contents-SinterSpeed-Base.png' | asset_img_url: 'master' }}" class="img-fluid">
                   </div>
                   <div class="board-content-desc">
                     <div class="accordion">
                       <div class="collapse-title collapsed" data-bs-toggle="collapse" href="#detail-expand-SinterSpeed-Base" role="button" aria-expanded="false" aria-controls="detail-expand-SinterSpeed-Base">
                         <h6>SinterSpeed Base</h6>
                       </div>
                       <div class="collapse-content collapse" id="detail-expand-SinterSpeed-Base">
                         <div>
                           <p>Our premium sintered base material featuring high molecular content and insane wax absorption thanks to its open structure. Our fastest and most advanced base for demanding riders.</p>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>