                <div class="row align-items-center my-5">
                    <div class="col-12 text-center">
                        <img style="max-width: 80%; max-height: 80px;" class="img-fluid mb-3" src="{{ '2122-Product-Detail-Rome-Binding-Tech-PowerGraft-Highback2.png' | asset_img_url: '800x' }}" alt="powergraft technology by rome snowboards" />
                        <p class="text-start m-0" style="line-height:1.1;font-size: 0.9em;;">This industry first design features a Polystrand&trade; layered composite fiber upper, overmolded into a nylon lower region for next level heelside power, without sacrificing torsional tweakability.</p>
                    </div>
                </div>