<div class="row mb-3">
  <div class="col-6"><h6>Nose</h6></div>
  <div class="col-6 text-end"><h6>Tail</h6></div>
</div>
<div class="row">
  <div class="col-12 mt-2 mb-2"><img src="{{ '2122-Product-Detail-Rome-Camber-Stay-Positive.png' | asset_img_url: 'master' }}" class="img-fluid"></div>
</div>
<div class="row">
  <div class="col-12 text-center"><h6>Camber</h6></div>
</div>

<div class="accordion">
  <div class="collapse-title collapsed" data-bs-toggle="collapse" href="#detail-expand-Stay-Positive" role="button" aria-expanded="false" aria-controls="detail-expand-Stay-Positive">
    <h6><strong>STAY POSITIVE CAMBER</strong></h6>
  </div>
  <div class="collapse-content collapse" id="detail-expand-Stay-Positive">
    <div>
      <p>Powerful and predictable, tried-and-true camber.</p>
    </div>
  </div>
</div>