            <div class="accordion">
              <div class="collapse-title collapsed" data-bs-toggle="collapse" href="#detail-expand-Focus-BOA" role="button" aria-expanded="false" aria-controls="detail-expand-Focus-BOA">
                <div class="row align-items-center">
                  <div class="col-3 mb-2">
                    <img src="{{ '2122-Product-Detail-BOA-Config-MP-Focus-BOA.png' | asset_img_url: 'master' }}" class="img-fluid">
                  </div>
                  <div class="col-9">
                    <h6>Focus BOA</h6>
                  </div>
                </div>
              </div>
              <div class="collapse-content collapse" id="detail-expand-Focus-BOA">
                <div class="row">
                  <div class="col-4">
                    <img class="img-fluid" src="{{ 'logo-boa.png' | asset_img_url: '300x' }}">
                  </div>
                  <div class="col-8">
                    <p>Dual lace BOA boots, upper and lower zone customization which overlap at the ankle, built for maximum adjustability .
                    <br><br>H-Series Upper Dial, M-Series Forefoot Dial</p>
                  </div>
                </div>
              </div>
            </div>
