                <div class="row align-items-center mb-4">
                  <div class="col-5">
                    <h6 class="material-boxed-title m-0">Highback</h6>
                  </div>
                  <div class="col-5">
                    <h6 class="m-0">70% Polystrand</h6>
                    <h6 class="m-0">30% Nylon</h6>
                  </div>
                  <div class="col-2"><img src="{{ '2122-Product-Detail-Rome-Highback-PolyOne.png' | asset_img_url: 'master' }}" class="img-fluid"></div>
                </div>


