                <div class="row align-items-center mb-4">
                  <div class="col-5">
                    <h6 class="material-boxed-title m-0">Baseplate</h6>
                  </div>
                  <div class="col-7">
                    <h6 class="m-0">85% Nylon</h6>
                    <h6 class="m-0">10% Glass Fiber</h6>
                    <h6 class="m-0">5% Carbon</h6>
                  </div>
                </div>
