<div class="board-content d-flex">
  <div class="board-content-img">
    <img src="{{ '2122-Product-Detail-Rome-Cores-MiniShred-Core.png' | asset_img_url: 'master' }}" class="img-fluid">
  </div>
  <div class="board-content-desc">
    <div class="accordion">
      <div class="collapse-title collapsed" data-bs-toggle="collapse" href="#detail-expand-MiniShred-Core" role="button" aria-expanded="false" aria-controls="detail-expand-MiniShred-Core">
        <h6>MiniShred Core</h6>
      </div>
      <div class="collapse-content collapse" id="detail-expand-MiniShred-Core">
        <div>
          <p>Minishred Core is the lightest and snappiest youth core, built with 100% Paulownia wood.</p>
        </div>
      </div>
    </div>
  </div>
</div>