            <div class="board-content d-flex pt-5 pb-3">
                <div class="board-content-img" style="height: auto;">
                    <img src="{{ '2223-icon-fast-entry.png' | asset_img_url: '300x' }}" class="img-fluid" style="position: relative;margin-top:0;">
                </div>
                <div class="board-content-desc">
                    <div class="accordion">
                        <div class="collapse-title collapsed" data-bs-toggle="collapse" href="#detail-expand-Fast-Entry" role="button" aria-expanded="false" aria-controls="detail-expand-Fast-Entry">
                            <div class="new-2223">NEW</div>
                            <h6>Fast Entry</h6>
                        </div>
                        <div class="collapse-content collapse" id="detail-expand-Fast-Entry">
                            <div>
                                <p>New for this season, our bindings feature FastEntry Technology for super quick and easy entry into the binding. The pre-curved ladder on the ankle and toe straps are designed to pop open and help keep the straps out of your way while getting your boot into the binding. Strap in faster and easier thanks to FastEntry!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>