            <div class="accordion">
              <div class="collapse-title collapsed" data-bs-toggle="collapse" href="#detail-expand-Directional-5-5" role="button" aria-expanded="false" aria-controls="detail-expand-Directional-5-5">
                <h6>Directional</h6>
                <p>Taper 5.5mm</p>
              </div>
              <div class="collapse-content collapse" id="detail-expand-Directional-5-5">
                <div>
                  <p>Taper is featured in directional boards built with wider noses than tails, helping with agile turns and added float in deep snow.</p>
                </div>
              </div>
            </div>
