                <div class="row align-items-center mb-4">
                    <div class="col-12 text-center">
                        <img style="max-width: 60%; max-height: 80px;" class="img-fluid" src="{{ '2122-Product-Detail-Rome-Binding-Tech-Composite-Construction.png' | asset_img_url: '800x' }}" alt="carbon infused technology by rome snowboards" />
                        <h6 class="m-0">Carbon Infused</h6>
                    </div>
                </div>