            <div class="board-content d-flex">
                <div class="board-content-img" style="height: auto;">
                    <img src="{{ '2223-icon-flax-walls.png' | asset_img_url: '300x' }}" class="img-fluid" style="position: relative;margin-top:0;">
                </div>
                <div class="board-content-desc">
                    <div class="accordion">
                        <div class="collapse-title collapsed" data-bs-toggle="collapse" href="#detail-expand-Flax-Walls" role="button" aria-expanded="false" aria-controls="detail-expand-Flax-Walls">
                            <div class="new-2223">NEW</div>
                            <h6>Flax Walls</h6>
                        </div>
                        <div class="collapse-content collapse" id="detail-expand-Flax-Walls">
                            <div>
                                <p>Flax Walls are designed to add rigidity and strength to the board, learn more <a href="/pages/snowboard-tech-materials#board-tech-walls-flax">here</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>