            <div class="accordion">
              <div class="collapse-title collapsed" data-bs-toggle="collapse" href="#detail-expand-Double-V-Carbon-Omega" role="button" aria-expanded="false" aria-controls="detail-expand-Double-V-Carbon-Omega">
                <div class="row">
                  <div class="col-4 mb-2">
                    <img src="{{ '2122-Product-Detail-Rome-HotRod-Carbon-Omega.png' | asset_img_url: 'master' }}" class="img-fluid">
                  </div>
                  <div class="col-12">
                    <h6>Carbon Omega<br>HotRods</h6>
                  </div>
                </div>
              </div>
              <div class="collapse-content collapse" id="detail-expand-Double-V-Carbon-Omega">
                <div>
                  <p>V-shaped carbon HotRods in the board’s nose and tail; next level snap and pop.
                  <br>Made of carbon, the Omegas act as housing built around the HotRods and are designed to provide additional power and responsiveness.</p>
                </div>
              </div>
            </div>
