                 <div class="board-content d-flex">
                   <div class="board-content-img">
                     <img src="{{ '2122-Product-Detail-Board-Contents-Stomp-Core.png' | asset_img_url: 'master' }}" class="img-fluid">
                   </div>
                   <div class="board-content-desc">
                     <div class="accordion">
                       <div class="collapse-title collapsed" data-bs-toggle="collapse" href="#detail-expand-Stomp-Core" role="button" aria-expanded="false" aria-controls="detail-expand-Stomp-Core">
                         <h6>Stomp Core</h6>
                       </div>
                       <div class="collapse-content collapse" id="detail-expand-Stomp-Core">
                         <div>
                           <p>Our most stable and predictable core, built with 100% poplar construction.</p>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>