            <div class="accordion">
              <div class="collapse-title collapsed" data-bs-toggle="collapse" href="#detail-expand-Directional-Twin" role="button" aria-expanded="false" aria-controls="detail-expand-Directional-Twin">
                <h6>Directional Twin</h6>
              </div>
              <div class="collapse-content collapse" id="detail-expand-Directional-Twin">
                <div>
                  <p>Boards designed with slightly longer noses than tails, but with both symmetrical sidecuts and symmetrical camber profiles.</p>
                </div>
              </div>
            </div>
