            <div class="accordion">
              <div class="collapse-title collapsed" data-bs-toggle="collapse" href="#detail-expand-PivotMount-Max" role="button" aria-expanded="false" aria-controls="detail-expand-PivotMount-Max">
                <div class="row align-items-center">
                  <div class="col-3 mb-2">
                    <img src="{{ '2122-Product-Detail-Rome-Binding-Tech-PivotMount-Max.png' | asset_img_url: 'master' }}" class="img-fluid">
                  </div>
                  <div class="col-9">
                    <h6>Pivotmount Max</h6>
                  </div>
                </div>
              </div>
              <div class="collapse-content collapse" id="detail-expand-PivotMount-Max">
                <div>
                  <p>A Rome exclusive binding innovation, PivotMounts are small adjustable pieces that allow riders to move the position of their ankle straps on their boots. The higher up on your boot the ankle strap sits, the more power and turn initiation. The lower the strap goes, the more surfy and tweakable your riding will be.<br><br>PivotMount Max provides 8 different strap options per side of the ankle strap, 64 configurations total.</p>
                </div>
              </div>
            </div>
