                <div class="row align-items-center mb-4">
                  <div class="col-3">
                    <img src="{{ '2122-Product-Detail-BOA-Config-Single-Sequence-BOA.png' | asset_img_url: 'master' }}" class="img-fluid">
                  </div>
                  <div class="col-9">
                    <h6>MiniShred Single Dial Closure</h6>
                  </div>
                </div>
