            <div class="accordion">
              <div class="collapse-title collapsed" data-bs-toggle="collapse" href="#detail-expand-HotRod-Bamboo-Omega" role="button" aria-expanded="false" aria-controls="detail-expand-HotRod-Bamboo-Omega">
                <div class="row">
                  <div class="col-4 mb-2">
                    <img src="{{ '2122-Product-Detail-Rome-HotRod-Bamboo-Omega.png' | asset_img_url: 'master' }}" class="img-fluid">
                  </div>
                  <div class="col-12">
                    <h6>Bamboo HotRods</h6>
                  </div>
                </div>
              </div>
              <div class="collapse-content collapse" id="detail-expand-HotRod-Bamboo-Omega">
                <div>
                  <p>One bamboo HotRod in the board’s nose and two bamboo HotRods in the tail; powerful and versatile.</p>
                </div>
              </div>
            </div>
