            <div class="accordion">
              <div class="collapse-title collapsed" data-bs-toggle="collapse" href="#detail-expand-Highback-Canting" role="button" aria-expanded="false" aria-controls="detail-expand-Highback-Canting">
                <div class="row align-items-center">
                  <div class="col-3 mb-2">
                    <img src="{{ '2122-Product-Detail-Rome-Binding-Tech-Highback-Canting.png' | asset_img_url: 'master' }}" class="img-fluid">
                  </div>
                  <div class="col-9">
                    <h6>Highback Canting</h6>
                  </div>
                </div>
              </div>
              <div class="collapse-content collapse" id="detail-expand-Highback-Canting">
                <div>
                  <p>Built so that riders can adjust the angle of their highback to mirror the angle of their lower leg for increased connection and stability.</p>
                </div>
              </div>
            </div>
