            <div class="accordion">
              <div class="collapse-title collapsed" data-bs-toggle="collapse" href="#detail-expand-ProFit-Liner" role="button" aria-expanded="false" aria-controls="detail-expand-ProFit-Liner">
                <div class="row align-items-center">
                  <div class="col-3 mb-2">
                    <img src="{{ '2122-Product-Detail-Rome-Boot-ProFit-Liner.png' | asset_img_url: 'master' }}" class="img-fluid">
                  </div>
                  <div class="col-9">
                    <h6>Pro F.I.T. Liner</h6>
                  </div>
                </div>
              </div>
              <div class="collapse-content collapse" id="detail-expand-ProFit-Liner">
                <div>
                   <p>Fully heat moldable for maximum snug fit and dialed-in performance. Built with our SkateCuff 3D ankle support system, expandable toe box and Pro Footbeds for support and out-of-the-box comfort.</p>
                </div>
              </div>
            </div>
