<a href="/pages/auxtech" style="display:block;margin-bottom:20px;">
  <div class="w100 py-4 text-center" style="background-color: #1EBF8B;">
  	<img style="max-width: 60%; max-height: 80px;" class="img-fluid" src="{{ 'Rome-AuxTech-Logo-2021-2022-Black.png' | asset_img_url: '800x' }}" alt="aux tech binding technology by rome snowboards" />
  </div>
</a>