                <div class="row align-items-center mb-2">
                  <div class="col-3">
                    <img src="{{ '2122-Product-Detail-Rome-Binding-Tech-Unibody.png' | asset_img_url: 'master' }}" class="img-fluid">
                  </div>
                  <div class="col-9">
                    <h6>Unibody</h6>
                  </div>
                </div>
