                <div class="row align-items-center mb-4">
                  <div class="col-6">
                    <img src="{{ '2122-Product-Detail-Rome-Binding-GrowsWithYou.png' | asset_img_url: 'master' }}" class="img-fluid">
                  </div>
                </div>
