<div id="lps-snippets-{{ section.id }}" class="container">

  <div class="row row-eq-height mb-5">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-triax-laminate' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-triax' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-biax' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-super-ultra-light-core' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-ultra-light-core' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-light-core' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-core-core' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-pop-core' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-airride' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-nano-speed-s' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-ultraglide-s' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-hyperglide-s' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-super-slick-x' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-flipflop' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-pcc-stringers' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-carbon-stringers' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-drst' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-dst' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-cst' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-solidwalls' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-flex-walls' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-24-inserts' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-plus-2-backseat-inserts' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-plus-4-backseat-inserts' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-step-down-rails-top-3d' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-chassis-fullwrap-chassis' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-chassis-asymwrap' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-chassis-size-adjustable-base' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-straps-infinity-ankle-strap' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-straps-infinity-toe-strap' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-straps-transfer-ankle-strap' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-straps-transfer-toe-strap' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-straps-wrap-ankle-strap' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-straps-wrap-toe-strap' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-straps-bulletproof-buckles' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-ladders-fastentry-ladders' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-ladders-kink-ladders' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-ladders-twostep-toeladders' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-ladders-twostep-toeladders-1' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-highbacks-airbacks' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-highbacks-fullbacks' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-highbacks-quarterback' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-highbacks-highback-rotation' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-highbacks-highback-adjustable-forwardlean' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-padding-dualdensity-footpad' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-padding-canted-footbed' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-highbacks-toadgrip-heelpad' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-padding-duracush' %}</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">{% render 'product-details-padding-adjustable-padding' %}</div>
  </div>
</div>

{% schema %}
{
"name": "LPS Snippets",
"tag": "section",
"class": "lps-snippets",
"settings": [
{
"type": "header",
"content": "Headings"
},
{
"type": "paragraph",
"content": "List of snippets to proof"
}

],
"presets": [
{
"name": "LPS Snippets"
}
]
}
{% endschema %}