<script type="text/javascript" async src="https://cdn.reamaze.com/assets/reamaze.js"></script>
 
<script type="text/javascript">

    var _support = _support || { 'ui': {}, 'user': {} };

    _support['account'] = 'romesds';

</script>

<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <h1 style="font-size: 7.5rem;">FAQ</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 ">
            <div data-reamaze-embed="kb">    
            </div>
        </div>
    </div>
</div>