<div class="container-fluid" style="background-color: #d6e038;">
  
  <div class="container pt-5">
    
	<div class="row border-underline">
      <div class="col-12">
        <div class="row">
          <div class="col-10 col-md-11">
            <h1>BINDING TECH</h1>
          </div>
          <div class="col-2 col-md-1 text-right">
            <a class="btn next" href="/pages/snowboard-binding-tech-customization">Next</a>
          </div>
        </div>
        <div class="row py-3">
          <div class="col-sm-6">
            <h4>THE MOST ADJUSTABLE BINDINGS IN THE GAME</h4>
          </div>
          <div class="col-sm-6">
            <p class="mt-0 mb-3">We believe that everyone rides better and enjoys snowboarding more when their bindings are adjusted to their riding style. That’s why we make the most customizable bindings on the market with space age materials and durable, riding-first designs.</p>
          </div>
        </div>
      </div>
    </div>
      

  </div>

  
  <div class="container py-5 mb-5 border-underline">
    
	<div class="row">
      <div class="col-12">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Q13J784KF6M?rel=0" allowfullscreen></iframe>
        </div>
      </div>
    </div>

  </div>
    

    {% include 'tech-page-footer' %}
  
  
</div>

{{ page.content }}



