<div class="page-about">
  <div class="ratio ratio-16x9 mb-5">
    <video controls="controls" autoplay="autoplay" loop="loop">
      <source src="https://cdn.shopify.com/videos/c/o/v/54d76bdd916047f798714092ce4d013e.mp4" type="video/mp4">
    </video>
  </div>
  <div class="container-indent">
    <div class="container">
      <div class="row justify-content-center my-5">
        <div class="col-10 col-md-5 px-md-4 mb-0 mt-5 mt-md-5">
          <p>The pursuit.</p>
          <p>Do you hear it? The soft but urgent voice. The one that says ‘call out tomorrow, it’s gonna be deep.’ The method to our madness. The guiding principle. The light at the end of the tunnel. The unrelenting motive to couch surf and live out of a board bag for weeks on end. The drive to study forecasts for distant mountain ranges. To build backyard parks. To shovel staircases no one has walked in years and mind surf every surface in sight.</p>
          <p>The pursuit is what gives meaning to otherwise blank hillsides. What makes your pulse quicken when you see an untouched powder field, a perfect down rail, a natural transition.</p>
        </div>
        <div class="col-10 col-md-5 px-md-4 mb-5 mt-0 mt-md-5">
          <p>&nbsp;</p>
          <p>Since 2001, the Rome Snowboard Design Syndicate has been guided by this voice. This unrelenting urge to create, to hike back up, to try something different, to talk with a random boarder in the lift line. Rooted in a collective culture of boarding, the SDS will always be guided by this pursuit.</p>
          <p>‘Til the last patch melts, the edges rust off and the chairs stop spinning.</p>
          <p>All Ways Down.</p>
        </div>
      </div>
    </div>
    <div class="container-indent pb-5" style="background-color: #f7f8fa;">
      <div class="container">
        <div class="row pt-5">
          <div class="col-12 col-sm-4 px-5 px-md-3" style="padding-bottom: 20px;">
            <h5 style="color: #000000;">ALL WAYS DOWN.</h5>
            <p style="color: #666666;">We believe snowboarding is a passion worth pursuing at all costs.</p>
          </div>
          <div class="col-12 col-sm-4 px-5 px-md-3" style="padding-bottom: 20px;">
            <h5 style="color: #000000;">DEPENDABILITY MATTERS.</h5>
            <p style="color: #666666;">We make gear that lets you stomp deep landings, tweak harder, or simply stay on hill longer.</p>
          </div>
          <div class="col-12 col-sm-4 px-5 px-md-3" style="padding-bottom: 20px;">
            <h5 style="color: #000000;">GRIT, PASSION &amp; CREATIVITY.</h5>
            <p style="color: #666666;">Born of Do It Yourself mentality, a love for snowboarding, and the good times it brings, we believe anything is possible with hard work and creativity.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{ page.content }}